@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(//db.onlinewebfonts.com/c/105007d99d9df64c50cc24d696d79555?family=Graphik+Web+Regular);
:root {
    --border-color: #d1d5db;
}

body {
    font-family: 'Graphik Web Regular', sans-serif;
}

.divider {
    height: 0.1rem;
}

button {
    -webkit-tap-highlight-color: transparent;
}

.Searchinput {
    border-bottom-width: 0.05rem;
}

.Infomessage {
    border: 0.05rem solid var(--border-color);
    -moz-box-shadow: 2px 2px 5px var(--border-color);
    -webkit-box-shadow: 2px 2px 5px var(--border-color);
    box-shadow: 2px 2px 5px var(--border-color)
}

@media only screen and (min-width:768px) {
    .Searchoptions {
        border-bottom: 0.05rem solid var(--border-color);
    }
}